body {
    font-family: "Times New Roman", Times, serif; /* burtu fonts*/
    background-color: rgb(125, 161, 173);
    margin: 0; /* atstarpes starp elementiem*/
    padding: 20px; /* atstarpes kastite*/
    text-align: center;
}

header {
    margin-bottom: 30px; /* elem apaksa*/
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

.otra-lapa {
    background: rgb(199, 65, 65);
    color: rgb(73, 57, 57);
    border-radius: 20px; /*noapalo sturus*/
    border: none;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.info_lapa {
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
}

#datums {
    position:absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    font-weight: bold;
}

#laiks {
    position:absolute;
    top: 30px;
    left: 10px;
    margin: 0;
    font-weight: bold;
}

.mekletajs {
    margin: 15px 0;
}

#ievadi_valsti {
    padding: 10px;
    border: 2px solid #c9c3c3;
    border-radius: 5px;
}

.mekletajs button {
    padding: 10px 14px;
    cursor: pointer;
    background-color: rgb(11, 61, 102);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

.valstis {
    background-color: #f4f4f4; /* Gaišs fons katram blokam */
    border: 5px double #000000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column; /*izkarto kolonnas*/
    align-items: center;
    transition: 0.2s; /* Mazs efekts uzbraucot ar peli */
}

.valstis:hover {
    transform: scale(1.02); /* Bloks nedaudz palielinās jeb interaktivs */
}

.valstis img {
    width: 100%; /* Karogs aizpilda bloka platumu */
    max-width: 280px; /* Bet ne lielāks par 200px */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pasleptais_teksts {
    display: none; /*paslepj tekstu*/
    margin-top: 15px;
    font-size: 16px;
    color: #000000;
}

img {
    width: 20%;
    object-fit: cover; /*bilde rāmītī*/
    border-radius: 5px;
    border: 2px solid #000000;
}

.valstu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Šī rindiņa pasaka: izveidot tieši 2 vienādas kolonnas */
    gap: 30px; /* Atstarpe starp pāriem */
    margin-top: 0 auto; /* Nocentrē visu lapas vidū */
}

/* lai uz maziem ekrāniem (telefoniem) nebūtu par šauru*/
@media (max-width: 600px) {
    .galvenais-rezgis {
        grid-template-columns: 1fr;
    }
}


/* Spele */
.speles_lauks {
    background: rgb(238, 197, 150);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 400px;
    width: 800px;
   /* max-width: 600px; /* lai ietilpst teksts */
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.spelei_pogas {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.poga_patiess {
    background-color: rgb(57, 122, 57);
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer; 
    border-radius: 5px;
}

.poga_aplams {
    background-color: rgb(150, 31, 31);
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#atsauksme {
    height: 20px;
    font-weight: bold; 
    margin-top: 10px;
}

